/* css styles */
.justify {
    text-align: justify !important
}

/* centralizanzar */
.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

/* pre.sourceCode {
    background-color: rgb(94, 94, 94);
}

code span.co {
    color: #fffdfd;
} */